<ion-header>
  <ion-navbar>
    <ion-title>
      Dados do usuário
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="usuario">
    <ion-item>
      <p>Nome: {{usuario.nome}}</p>
    </ion-item>

    <ion-item>
      <p>E-mail: {{usuario.email}}</p>
    </ion-item>  

    <ion-item>
      <p>Perfil: {{usuario.tipo}}</p>
    </ion-item>

    <ion-item>
      <p>Avaliação:
        <ion-icon *ngFor="let i of score" name='star' large style="color: #f5de5c"></ion-icon>
      </p>
    </ion-item>
  </ion-list>

  <button ion-button clear full icon-right color="danger" (click)="logout()">
    Logout
  </button>
</ion-content>
