<ion-header>
  <ion-navbar>
    <ion-title>Eventos</ion-title>

    <ion-buttons right *ngIf="usuario?.tipo == 'ONG'">
      <button ion-button icon-only strong (click)="navigate('create')">
        <ion-icon name="ios-add" md="md-add" style="color: #3c4fe2"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
      <ion-card *ngFor="let evento of eventos" style="border-top: 3px solid steelblue;">
        <ion-item (click)="navigate('view', evento._id)">
          <ion-icon name="happy" item-left [style.color]="evento.status == 'Pendente' ? '#55acee'  : '#55eea7'"></ion-icon>
          <h3>{{evento.nome}}</h3>
          <p style="white-space: normal">{{evento.descricao}}</p>
          <p>
            <ion-icon name="calendar" item-start small></ion-icon>
            {{evento.data}} às {{evento.hora}}
          </p>
          <p>
            <ion-icon name="pin" item-start small></ion-icon>
            {{evento.endereco.bairro}}, {{evento.endereco.logradouro}}
          </p>
        </ion-item>
      </ion-card>
  </ion-list>

</ion-content> 