<ion-header>
  <ion-navbar>
    <ion-title>Ações</ion-title>

    <ion-buttons right *ngIf="usuario?.tipo == 'ONG'">
      <button ion-button icon-only strong (click)="navigate('create')">
        <ion-icon name="ios-add" md="md-add" style="color: #3c4fe2"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
      <ion-card *ngFor="let evento of eventos" style="border-top: 3px solid steelblue;">
        
        <ion-grid>
          <ion-item>
            <ion-row>
              <ion-col col-12 (click)="navigate('view', evento._id)">
                <h2>{{evento.nome}}</h2>
              </ion-col>
            </ion-row>
          </ion-item>
          
          <ion-row padding>
            <ion-col col-6>
              <ion-icon name="pin" item-start></ion-icon>
              {{evento.endereco.bairro}}
            </ion-col>

            <ion-col col-6>
              <ion-icon name="calendar" item-start></ion-icon>
              {{evento.data}}
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
  </ion-list>

</ion-content> 