<ion-header>
  <ion-navbar>
    <ion-title>{{doacao?.titulo}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="doacao && doacao.usuario" class="item-detail" padding>

    <ion-item>
      <ion-label stacked>
        Título
      </ion-label>
      <ion-input [(ngModel)]="doacao.titulo" [readonly]="ong">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        Público alvo
      </ion-label>
      <ion-input [(ngModel)]="doacao.publico_alvo" [readonly]="ong">
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>
        Data da postagem
      </ion-label>
      <ion-input [(ngModel)]="dataCriacao" readonly >
          
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>
        Descrição
      </ion-label>
      <ion-textarea [(ngModel)]="doacao.descricao" [readonly]="ong">
      </ion-textarea>
    </ion-item>

    <ion-item *ngIf="ong">
      <ion-label stacked>
        Telefone
      </ion-label>
      <ion-input [(ngModel)]="doacao.usuario.dados_pessoais.telefone" readonly >  
      </ion-input>
    </ion-item>
      
    <ion-item *ngIf="ong">
      <ion-label stacked>
        Bairro
      </ion-label>
      <ion-input [(ngModel)]="doacao.usuario.dados_pessoais.endereco.bairro" readonly >  
      </ion-input>
    </ion-item>
    
    <p>
      {{msg}}
    </p>

    <button *ngIf="ong" (click)="presentConfirm()" ion-button>Receber doação</button>
    <button *ngIf="!ong" ion-button (click)="update()" padding>Atualizar</button>
  </div>

</ion-content>